 <div class="navbar">
        <div class="navbar-logo">Mon Restaurant</div>
        <div class="navbar-links">
          <%= link_to "Accueil", root_path, class: "hover:text-accent-color" %>
          <%= link_to "Menu", menu_path, class: "hover:text-accent-color" %>
          <%= link_to "Réserver", reservation_path, class: "hover:text-accent-color" %>
          <%= link_to "Contact", contact_path, class: "hover:text-accent-color" %>
        </div>
      </div>